.bg-black {
    background-color: #212121;
    transition: 1.5s;
}
.logow {
    filter: drop-shadow(0 0 30px white);
    background-image: none;
    background-color: hsl(192, 100%, 77%);
    transition: 1.5s;
}
.Titrew {
    color: white;
    transition: 1.5s;
}
.containerc2 {
    box-shadow: 0px 0 30px 1px
    rgba(255, 255, 255, 0.507);
    transition: 1.5s;

}
.container2c img {
    filter: drop-shadow(0 0 10px white);
}