* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 10%;
}
header {
    border: 1px solid black;
    height: 500px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tryitfree {
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px 20px;
    width: 10%;
    height: 50px;
    border-radius: 30px;
}
.logoo {
    width: 15%;
    height: 10%;
    margin: 60px 70px;
}