* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(./media/bg_hero_desktop.svg);
    display: flex;
    height: 900px;
}
.logo {
    margin: 40px 50px;
}
.container {
    width: 40%;
}
h1 {
    margin: 100px 50px;
    font-size: 40px;
}
.container p {
    font-size: 18px;
    margin: 0 50px;
    width: 70%;
}
.getclick {
    width: 40%;
    height: 50px;
    border-radius: 30px;
    margin: 20px 50px;
}
.image-header {
    width:50%;
    position: absolute;
    right: 50px;
    top: 140px;
}
.tryitfree {
    position: absolute;
    width: 10%;
    height: 50px;
    border-radius: 30px;
    right: 0;
    margin: 40px 70px;
}
button {
    cursor: pointer;
}